/*CHECKERBOARD PATTERN
#bannerCenter {
	background: 
		repeating-conic-gradient(#000000 0% 25%, transparent 0% 50%) 
		50% / 20px 20px
}*/

@font-face {
	font-family: C64;
	src: url("../fonts/C64_Pro-STYLE.ttf");
	size-adjust: 115%;
}

@keyframes slideUp {
	from {
		height: 50px;
	}

	to {
		height: 0;
	}
}

@-webkit-keyframes slideUp {
	from {
		height: 50px;
	}

	to {
		height: 0;
	}
}

@-moz-keyframes slideUp {
	from {
		height: 50px;
	}

	to {
		height: 0;
	}
}

@-o-keyframes slideUp {
	from {
		height: 50px;
	}

	to {
		height: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes pulsate {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@-webkit-keyframes pulsate {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@-moz-keyframes pulsate {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@-o-keyframes pulsate {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.textStyle {
	color: #00CF0E;
	font-family: C64;
}

.TEXTSTYLE {
	color: #00CF0E;
	font-family: C64;
}

.textStyle:visited {
	color: #00CF0E;
}

.TEXTSTYLE:visited {
	color: #00CF0E;
}

.backgroundStyle {
	background-color: #00CF0E;
}

.scrollbarStyle {
	scrollbar-color: #00CF0E #000000;
}

html {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	height: 100%;
}

#titleScreen {
	display: none;
	height: 100%;
}

#titleCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#titleTag {
	margin-bottom: 60px;
	font-size: 25px;
}

#titleHeader {
	font-size: 45px;
	font-size: 4vw;
	padding: 0;
	margin: 0;
}

#titleStart {
	font-size: 25px;
	margin-top: 60px;
	cursor: pointer;
}

.TEXTBLINK {
	transition: opacity 1s;
	animation: pulsate 2s infinite alternate;
	-webkit-animation: pulsate 2s infinite alternate;
	-moz-animation: pulsate 2s infinite alternate;
	-o-animation: pulsate 2s infinite alternate;
}

#loading {
	display: none;
	height: 100%;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#loadingPara {
	margin: 0;
	padding: 0;
	max-width: 1792px;
}

#wrapper {
	display: none;
	flex-direction: column;
	height: 100%;
	background: #000000;
	border-radius: 20px
}

.wrapperHide {
	animation: .5s normal fadeOut;
	animation-fill-mode: forwards;
}

#banner {
	color: #000000;
	height: 50px;
	width: 100%;
}

.bannerHide {
	animation: .5s normal slideUp;
	animation-fill-mode: forwards
}

#bannerWidth {
	height: 100%;
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 1792px;
	margin: 0 auto;
}

.bannerSection {
	width: 33%;
	text-align: center;
	overflow: hidden;
}

.bannerSection h4 {
	margin: 0;
	color: #000000;
}

#moveCounter {
	text-align: left;
}

#currentScore {
	text-align: right;
}

#contentWrapper {
	width: 90%;
	max-width: 1792px;
	margin: 0 auto;
	height: 90%;
	display: flex;
}

#storybook {
	height: 100%;
	width: 100%;
	padding-right: 15px;
	overflow-wrap: anywhere;
	overflow-y: auto;
	scrollbar-width: thin;
}

#storybook::-webkit-scrollbar {
	width: 12px;
}

#storybook::-webkit-scrollbar-track {
	background: #000000;
}

#storybook::-webkit-scrollbar-thumb {
	background-color: #00CF0E;
}

.monologuist {
	margin-bottom: 35px;
	line-height: 25px;
}

.MONOLOGUISTCENTER {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

.IMAGESIZE {
	font-size: 25px;
	line-height: 0px;
	margin-right: 3px;
	overflow: visible;
}

.ACTIONWRAP {
	display: inline-block;
}

.ACTIONITEM {
	/*background-color: #00CF0E;#44aa99
	color: #000000;
	padding: 3px;
	padding: 2px 0px 0px 4px;*/
	color: #882255;
	cursor: pointer;
}

.ACTIONDIRECTION {
	/*background-color: #00CF0E;
	color: #000000;
	padding: 3px;
	padding: 2px 0px 0px 4px;*/
	color: #88CCEE;
	cursor: pointer;
}

.DIRECTIONIMAGE {
	margin-right: 5px;
}

.ACTIONCHARACTER {
	color: #DDCC77;
	cursor: pointer;
}

.ACTIONDOOR {
	color: gray;
	cursor: pointer;
}

.UNDERLINED {
	text-decoration: underline;
}

.ITALICIZED {
	font-style: italic;
}

#sidebar {
	display: none;
	width: 30%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px 10px;
}

#inventory {
	border: 3px solid #00CF0E;
	border-radius: 15px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#inventory h6 {
	text-align: center;
	font-size: 14px;
}

#inventoryListDIV {
	border-top: 1px dotted #00CF0E;
	height: 90%;
	overflow-y: auto;
	scrollbar-width: thin;
}

#inventoryListDIV::-webkit-scrollbar {
	width: 12px;
}

#inventoryListDIV::-webkit-scrollbar-track {
	background: #000000;
}

#inventoryListDIV::-webkit-scrollbar-thumb {
	background-color: #00CF0E;
}

#inventoryList {
	margin: 0;
	padding: 20px;
	list-style-type: none;
}

#inventoryList li {
	padding: 15px 0;
	width: 100%;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.ITEMIMAGE {
	width: 15%;
}

.ITEMNAME {
	width: 85%;
}

#cmd {
	width: 100%;
}

#cmdWidth {
	max-height: 100%;
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 1792px;
	margin: 0 auto;
	border-top: 1px dotted #00CF0E;
}

#command {
	margin-top: 18px;
}

#commandDisplay {
	overflow-wrap: anywhere;
}

#commandInput {
	width: 0;
	height: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

#cursor {
	width: 7px;
	height: 19px;
	display: block;
	float: right;
	animation: blink .4s infinite alternate;
}

#endScreen {
	display: none;
	height: 100%;
}

#contentWrapper_end {
	width: 90%;
	max-width: 1792px;
	margin: 0 auto;
	height: 90%;
	display: flex;
	padding-top: 50px;
}

#storybook_end {
	height: 100%;
	width: 100%;
	overflow-wrap: anywhere;
	overflow-y: auto;
	scrollbar-width: thin;
}

#storybook_end::-webkit-scrollbar {
	width: 12px;
}

#storybook_end::-webkit-scrollbar-track {
	background: #000000;
}

#storybook_end::-webkit-scrollbar-thumb {
	background-color: #00CF0E;
}

#credits {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#creditsWrapper {
	height: 100%;
	width: 100%;
	display: none;
	flex-direction: column;
}

#creditsButtons {
	width: 100%;
	display: flex;
}

#creditsButtons_Left {
	width: 50%;
	display: none;
}

#creditsButtons_Right {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

.creditsButtons_para {
	border: 1px solid #00CF0E;
	border-radius: 5px;
	width: 250px;
	text-align: center;
	padding: 15px 0;
}

.creditsButtons_para:hover {
	cursor: pointer;
	background-color: #00CF0E;
	color: #000000;
}

#creditsHeader {
	font-size: 45px;
	font-size: 4vw;
	padding: 0;
	margin: 0 0 35px 0;
}

/* FX */
.body-drive-in-fx {
	padding: 15px;
	box-sizing: border-box;
	background: linear-gradient(to left,
			gray,
			white,
			gray);

	background-size: 200% 200%;
	animation: animateGlow 8s linear infinite;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 200% 50%;
	}
}

.wrapper-drive-in-fx {
	border-radius: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.banner-drive-in-fx {
	border-radius: 20px 20px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}